<div class="container">
    <alert-success [hidden]="!showMessageSuccess">
        O empregado <strong>{{ employee?.name }}</strong> foi cadastrado com sucesso!
    </alert-success>
    <div class="row">
        <h1>Nossos empregados</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td colspan="3">
                        <button type="button" class="btn btn-primary" (click)="showNewModal()">
                            Novo Empregado
                        </button>
                    </td>
                </tr>
                <tr>
                    <th>Nome</th>
                    <th>Salário</th>
                    <th>Bonus</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employeeService.employees" >
                    <td>
                        <a href="javascript:void(0);" (click)="showDetailModal(employee)">
                            {{ employee.name | uppercase }}
                        </a>
                    </td>
                    <td [salaryColor]="employee.salary">{{ employee.salary | myCurrency}}</td>
                    <td>{{ employee.bonus }}</td>
                    <td>
                        <a href="javascript:void(0);" (click)="showEditModal(employee)">
                            Editar
                        </a> | 
                        <a href="javascript:void(0);" (click)="showDeleteModal(employee)">
                            Excluir
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<employee-detail-modal [employee]="employeeToDetail"></employee-detail-modal>
<employee-new-modal (onSubmit)="onNewEmployee($event)"></employee-new-modal>
<employee-edit-modal [employee]="employeeToEdit" (onSubmit)="onEditEmployee($event)"></employee-edit-modal>
<employee-delete-modal [employee]="employeeToDelete" (onSubmit)="onDeleteEmployee($event)"></employee-delete-modal>